/*
//Include to add Sprites to your CSS File
@import "sprites/sprite-...";
@include sprites($spritesheet-sprites);
//@include retina-sprites($retina-groups); //Include if "enable_retina_sprites" is true
*/

[v-cloak] { display: none }

.header {
  background: $colored-bg;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

.dark-box {
  padding: 15px;
  background: $dark-body-bg;
}

:focus,
.btn:active,
.btn:active:focus,
.btn:focus {
  outline: none;
}

textarea.no-resize {
  resize: none;
}

hr {
  opacity: 0.2;
}

.modal {
  color: #333;
}

.max-cargo {
  font-size: 0.7em;
  opacity: 0.4;
}

.custom-table {
  background: $dark-body-bg;

  &>thead>tr>th {
    padding: 8px 5px;
    background: $light-body-bg;
    text-align: center;
    border: 0 !important;
  }
  &>tbody>tr>td {
    padding: 8px 5px;
    vertical-align: middle;
    text-align: center;
    border: 0 !important;
  }
  &>tbody>tr:nth-child(even)>td {
    background: rgba(255, 255, 255, 0.03);
  }
}

.panel {
  border: 0;

  &.with-border {
    border: 2px solid $panel-bg;
  }

  &.warning {
    border-color: $colored-bg;
  }

  &.danger {
    border-color: $brand-danger;
  }
}

.btn-border {
  background: transparent;
  border-width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:active,
  &:focus,
  &:active:focus,
  &:focus:hover,
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.btn-sm {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.btn-primary {
  @include border-button($brand-primary);
}

.btn-success {
  @include border-button($brand-success);
}

.btn-danger {
  @include border-button($brand-danger);
}

.btn-warning {
  @include border-button($brand-warning);
}

.form-control.error {
  border-color: $brand-danger;
  background: lighten($brand-danger, 45%);
}